<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body style="background-color: <%=randomColors%>">

  <h3>Hey <%=name%>!</h3>

  <h1><%=randomCompliments%></h1>

</body>
</html>

