
body {
	background: url("../images/background.jpg");
	background-color:#bfbfbf;
	font-family: "Helvetica", sans-serif;
	box-sizing: border-box;
	background-repeat: repeat-x;

}


main {
	background-color: white;
	vertical-align: top;
	display: inline-block;
	width: 63%;
	margin-right:5px;
	padding: 8px;

}

main img {
	width: 100%;
}

aside {
	background-color: white;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	list-style: none;
	padding: 8px;
	margin-left:3px;
}

.container {
	width: 80%;
	margin: 0 auto;
	
}

.logo {
	display: block;
	text-align: center;
}

.dot{
    border-top: dotted 2px black;
    border-bottom: 2px solid black;
}

main a {
	color: #EA6913;
	font-weight: bold;
	text-decoration: none;
}

footer {
	text-align: center;
	
}




