
<h1>Welcome to Pokedex</h1>

<h2>...save your pokemons here and never fear they get lost again.</h2>

<form action="/pokemon/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Caught a new Pokemon? Add it to Pokedex!</p>
  <div class = "add-pokedex-form">
    <label for="">Nickname</label>
    <input type="text" name="name" value=""><br/>
    <label for="">Species</label>
    <input type="text" name="species" value=""><br/>
    <label for="">Level</label>
    <input type="text" name="level" value=""><br/>
    <label for="">Pokedex Number</label>
    <input type="text" name="pokedex" value=""><br/>
    <button>Add Pokemon</button>
  </div>
 
</form>

<div class="view-pokedex">
<a href="/pokemon">View Pokedex</a>
</div>


