<form action="" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="update">
  <label for="">Nickname</label>
  <input type="text" name="name" value="<%=%>">
  <label for="">Species</label>
  <input type="text" name="species" value="">
  <label for="">Level</label>
  <input type="text" name="level" value="">
  <label for="">Pokedex Number</label>
  <input type="text" name="pokedex" value="">
  <button>Update</button>
</form>