body {
	background: url(../images/bank_img.jpeg);
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	text-align: center;
	color: white;

}

.title {
	background-color: mistyrose;
	color: black;
	height: 109px;
	font-size: 30px;
	vertical-align: middle;

}

.logo {
	background-color:yellowgreen;
	border: solid black 10px;
	display: inline-block;
	width: 15%;
	padding: 10px;
	
}

.savings {
	background-color:#034f84;
	border: solid black 10px;
	display: inline-block;
	height:300px;
	width: 25%;
	vertical-align: top;
	
}

.savingsresult {
	font-size: 30px;
}

.checkingresult {
	font-size: 30px;
}


.checking {
	background-color:#034f84;
	border: solid black 10px;
	display: inline-block;
	margin-left: 120px;
	height:300px;
	width: 25%;
	vertical-align: top;
}

input[type=text]{
	height: 30px;
	border: solid black 3px;
}

.overdrawn {
	background-color: red
}
/*#f18973*/
