body {
	background: url(../images/bank_img.jpeg);
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	text-align: center;
	color: white;

}

.title {
	background-color: mistyrose;
	color: black;
	height: 109px;
	font-size: 30px;

}

.logo {
	background-color:yellowgreen;
	border: solid black 10px;
	display: inline-block;
	float: left;
	width: 15%;
	padding: 10px;
	
}

.savings {
	background-color:#034f84;
	border: solid black 10px;
	display: inline-block;
	margin-top: 50px;
	height:300px;
	width: 25%;
	padding: 10px;
	
}

.checking {
	background-color:#034f84;
	border: solid black 10px;
	display: inline-block;
	margin-left: 120px;
	height:300px;
	width: 25%;
	padding: 10px;
}

input[type=text]{
	height: 30px;
	border: solid black 3px;
}

/*#f18973*/
