<h1>Games on Rails</h1>

<h2>Welcome to Games on Rails. Start playing one of the following games by clicking on the links below.</h2>

<a href="">Magic 8 Ball</a>
<a href="">Secret Number</a>
<a href="">Rock Paper Scissors</a>