<h1>Games on Rails</h1>

<h2>Welcome to Games on Rails. Start playing one of the following games by clicking on the links below.</h2>

<a href="/magic-8-ball">Magic 8 Ball</a>
<a href="/secret-number">Secret Number</a>
<a href="/rock-paper-scissors">Rock Paper Scissors</a>