<h1>Magic 8 Ball</h1>

<h2>Instructions for playing this game</h2>
<p>Ask the Magic Ball a question and gets a prediction! Your answers can be eerily prescient... </p>

<form action="">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">What's your question?</label>
  <input type="text" name="question">
  <button>See prediction</button>
</form>

<h3>Magic Ball says: <%= @answers %></h3>

<a href ="/magic-8-ball">Ask a new question?</a>
<a href ="/">Go back to main menu</a>