<h1>Rock Paper Scissors</h1>

<h2>Instructions on how to play the game</h2>

<p>Create a route that goes from /games/rock_paper_scissors/:throw to games#rock_paper_scissors_play</p>
<p>Use params[:throw] as the user's choice</p>
<p>Compare the 2!</p>