<h1>Rock Paper Scissors</h1>

<h2>Instructions on how to play the game</h2>
<p>In rock-paper-scissors, two players will each randomly choose one of three hand signs: rock, paper, or scissors. Both players show their signs at the same time to see who will win.</p>
<p>Rock wins over scissors, Scissors wins over paper and Paper wins over rock.</p>
<p>If both players show the same sign, it’s a tie.</p>

<form action='/games/rock_paper_scissors/throw' >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Choose scissors, paper or rock!</label>
  <input name='throw' type="submit" value="rock">
</form>

<form action='/games/rock_paper_scissors/throw' >
  <input name='throw' type="submit" value="scissors">
</form>

<form action='/games/rock_paper_scissors/throw' >
  <input name='throw' type="submit" value="paper">
</form>

<a href="/">Go back to main menu</a>

