<h1>Secret Number</h1>

<h2>Instructions on how to play the game</h2>

<p>Users click a number between 1 and 10. The controller validates the guess and renders the win or lose view.</p>

<form action="/secret-number">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Guess a number!</label>
  <input type="text" name="number">
  <button>Submit</button>
</form>

<h3><%= @guess %></h3>

