<h1>Secret Number</h1>

<h2>Instructions on how to play the game</h2>

<p>Test your luck with the Secret Number guessing machine. Give me a number between 1 and 10.</p>

<form action="/secret-number">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Guess a number!</label>
  <input type="text" name="number">
  <button>Submit</button>
</form>

<h3><%= @guess %></h3>

<a href ="/secret-number">Guess again?</a>

<a href ="/">Go back to main menu</a>


