heading h1 {
	color: #b30000;
	display: inline;
	margin-right: 20px;
	padding: 10px;
}

heading h2 {
	color: #999999;
	display: inline;
}

body {
	font-family: "Tahoma", sans-serif;
	margin-left:120px;
}

nav ul {
	text-transform: none;
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 10px;

}

nav li {
	display: block;
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px 65px;
	margin:1px;
	text-decoration: none;
	float: left;
}

main a {
	text-decoration: none;
	font-weight: bold;
	color: red;

}

main h3 {
	color:#D3D3D3;
}

main img {
	width: 100%;
}

main {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	margin-right: 30px;
}

main section {
	padding: 10px;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

main p:first-letter {
	font-size: 30px;
	float: left;
	padding-right: 10px;
	color: grey; 
}

.continue {
	text-align: right;
}

.continue vintage {
	text-align: right;
}

aside {
	display: inline-block;
	vertical-align: top;
	width: 34%;
	margin-left:30px;
}


aside a{
	color:red;
	font-weight: bold;
	text-decoration: none;
}

.content {
	border-bottom: 1px solid black;
	margin-top: 70px;
	margin-bottom: 20px;
}

.link {
	margin-bottom: 20px;
	text-align: right;
}

aside h2{
	color: #999999;
}

aside ul {
	border-top: 1px solid black;
	font-weight: bold;
	color: #999999;
	padding: 10px;
}
	
aside li {
	color: #ff8093;
}

footer a{
	padding-left: 3px;
	color: red;
	border-left: 1px solid black;
}

footer a:first-child {
	border-left: none;
  }